.ranking-filter{
  width: 125px;
  margin-top: 2vh;
  float: right;
}

.table-container{
  width: 85%;
  margin: 1vh auto;
}
.table-container:hover{
}

table {
  background-color: var(--darker-background-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

table td{
  color:var(--text-color);
  background-color: var(--darker-background-color);
}

table th{
  background-color: var(--darker-background-color);
  color:var(--blue-color);
  font-weight: 700;
}

table th i{
  color: mediumseagreen;
}
