
<div [@slideInUpOnEnter]="1" class="table-container">

  <div class="ranking-filer">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="Overall" (click)="getOverallRanking()">Overall</mat-option>
        <mat-option value="Friends" (click)="getFriendsRanking()">Friends</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.picture_url}}" alt="{{element.picture_url}}" style="height: 40px;width: 40px;border-radius: 40px"> </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef >Points <i class="get-info fa-solid fa-circle-info" (click)="tooltip.toggle()" matTooltip="CO2 Emissions Saved" matTooltipPosition="above"  #tooltip="matTooltip" style="cursor: pointer"></i></th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/home']" style="cursor: pointer"></tr>
  </table>

</div>
