<footer class="text-center text-lg-start bg-dark ">

  <section class="pt-1">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h3 class="mb-4"><img class="me-3 text-secondary" src="favicon.ico" alt="">Router Recommendation</h3>
          <p>{{description}}</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Links</h6>
          <p><a [routerLink]="['/home']" class="text-reset"><i class="fa-solid fa-house"></i> Home</a></p>
          <p><a [routerLink]="['/map']" class="text-reset"><i class="fa-solid fa-map-location-dot"></i> Map</a></p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Account Links</h6>
          <p><a class="text-reset" (click)="openProfilePage()" style="cursor:pointer"><i class="fa-solid fa-user"></i> Profile</a></p>
          <p><a [routerLink]="['/statistics']" class="text-reset" *ngIf="isLoggedIn()"><i class="fa-solid fa-chart-column"></i> Statistics</a></p>
          <p><a [routerLink]="['/social']" class="text-reset" *ngIf="isLoggedIn()"><i class="fa-solid fa-users"></i> Social</a></p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-envelope me-3"></i>radu.todosan02@e-uvt.ro</p>
        </div>

      </div>
    </div>
  </section>

</footer>
