
.modal-header{
  background-color: var(--darker-background-color);
  color:var(--text-color);
  border: var(--background-color);
  border: 1px solid var(--background-color);
  border-bottom:none;
}
.btn{
  background-color: var(--background-color);
  color:var(--text-color);

}

.modal-body{
  background-color: var(--darker-background-color);
  color:var(--text-color);
  border: 1px solid var(--background-color);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

}

