<div  class="social-container" [@slideInUpOnEnter]="1">
  <div class="input-container ic1">
    <input id="start" class="input" type="text" placeholder=""/>
    <div class="cut"></div>
    <label for="start" class="placeholder">Search</label>
  </div>
  <app-user-card
    username="john_doe"
    full_name="john_doe"
    email="john_doe@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="ion"
    full_name="ion"
    email="ion@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="mihai"
    full_name="mihai"
    email="mihai@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="george"
    full_name="george"
    email="george@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="mihaita"
    full_name="mihaita"
    email="mihaita@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="alexandra"
    full_name="alexandra"
    email="alexandra@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="radu"
    full_name="radu"
    email="radu@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="cornel"
    full_name="cornel"
    email="cornel@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
  <app-user-card
    username="shaorma"
    full_name="shaorma"
    email="shaorma@email.com"
    picture_url="https://robohash.org/hehehe?bgset=bg1"
  ></app-user-card>
</div>
