<div class="friends-container">
  <div class="header-form">
    <form [formGroup]="searchForm" class="search-form">
      <div class="input-container ic1">
        <input
          matInput
          (keyup)="searchUsers()"
          type="text"
          id="start"
          class="input"
          placeholder=""
          formControlName="searchField"
        />
        <div class="cut"></div>
        <label for="start" class="placeholder">Search Friends</label>
  <!--      <button type="button" class="btn search" (click)="searchUsers()"><i class="fa-solid fa-magnifying-glass"></i></button>-->
      </div>

    </form>

    <button [routerLink]="['/social/add-friends']" class="btn add-friends-button"><i class="fa-solid fa-user-plus"></i> Add Friends</button>

  </div>

  <hr class="my-10" />

  <div *ngIf="friendsList$ | async as friendsList">
    <span *ngIf="friendsList.length == 0" class="empty-list">List of friends is empty</span>
    <app-user-card *ngFor="let friend of friendsList"
                   username="{{friend.username}}"
                   full_name="{{friend.full_name}}"
                   email="{{friend.email}}"
                   picture_url="{{friend.picture_url}}"
                   points="{{friend.points}}"
                   type="FRIENDS"
    ></app-user-card>
  </div>

</div>
