<nav id="side-nav">
  <ul>
    <li><button [routerLink]="['/home']" routerLinkActive="active" class="logo">
        <img src="favicon.ico" alt="">
      <span class="info">Home</span>
    </button></li>
    <li><button [routerLink]="['/map']" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faMap"></fa-icon>
      <span class="info">Map</span>
    </button></li>
    <li><button [routerLink]="['/home']" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faRankingStar"></fa-icon>
      <span class="info">Leaderboard</span>
    </button></li>
    <li><button [routerLink]="['/home']" routerLinkActive="active" class="nav-item">
      <fa-icon [icon]="faChartColumn"></fa-icon>
      <span class="info">Progress</span>
    </button></li>
    <li><button [routerLink]="['/home']" routerLinkActive="active" class="nav-item logout">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="info">Profile</span>
    </button></li>
  </ul>

</nav>

<button id="side-nav-button" class="side-nav-button" onclick="openCloseSideNav()">
  <fa-icon [icon]="faBars"></fa-icon>
</button>
