<div id="side-panel" class="side-panel" >



  <form class="addresses-form" [formGroup]="routeForm">
    <mat-form-field>
      <input formControlName="startValue" type="text" placeholder="Start" aria-label="Number" matInput [matAutocomplete]="start">
      <mat-autocomplete #start="matAutocomplete" >
        <mat-option (click)="searchCurrentLocation()">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Current Location
        </mat-option>
        <mat-option *ngIf="savedAddresses?.home" (click)="searchStartLocation()" [value]="savedAddresses.home">
          <i class="fa-solid fa-house"></i> &nbsp; Home
        </mat-option>
        <mat-option *ngIf="savedAddresses?.work" (click)="searchStartLocation()" [value]="savedAddresses.work">
          <i class="fa-solid fa-briefcase"></i> &nbsp; Work
        </mat-option>
        <mat-option *ngIf="savedAddresses?.school" (click)="searchStartLocation()" [value]="savedAddresses.school">
          <i class="fa-solid fa-book"></i> &nbsp; School
        </mat-option>
        <mat-option *ngIf="savedAddresses?.other" (click)="searchStartLocation()" [value]="savedAddresses.other">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Other
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="endValue" type="text" placeholder="End" aria-label="Number" matInput [matAutocomplete]="end" >
      <mat-autocomplete #end="matAutocomplete" >
        <mat-option *ngIf="savedAddresses?.home" (click)="searchEndLocation()" [value]="savedAddresses.home">
          <i class="fa-solid fa-house"></i> &nbsp; Home
        </mat-option>
        <mat-option *ngIf="savedAddresses?.work" (click)="searchEndLocation()" [value]="savedAddresses.work">
          <i class="fa-solid fa-briefcase"></i> &nbsp; Work
        </mat-option>
        <mat-option *ngIf="savedAddresses?.school" (click)="searchEndLocation()" [value]="savedAddresses.school">
          <i class="fa-solid fa-book"></i> &nbsp; School
        </mat-option>
        <mat-option *ngIf="savedAddresses?.other" (click)="searchEndLocation()" [value]="savedAddresses.other">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Other
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-button-toggle-group formControlName="transportType" class="select-transport-container" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="btn toggle-btn" value="0"><i class="fa-solid fa-car"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="1"><i class="fa-solid fa-bus"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="2"><i class="fa-solid fa-bicycle"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="3"><i class="fa-solid fa-person-walking"></i></mat-button-toggle>
    </mat-button-toggle-group>
    <button [disabled]="!routeForm.valid" (click)="searchRoute()" class="btn submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

</div>

<div id="collapse-bar" class="collapse-div" onClick="openCloseNav()">
  <fa-icon [icon]="faBars"></fa-icon>
</div>
