<div id="sidepanel" class="side-panel" style="width: 300px;">

    <div class="addresses-form">
      <div class="input-container ic1">
        <input [(ngModel)]="startValue" id="start" class="input" type="text" placeholder="" />
        <div class="cut"></div>
        <label for="start" class="placeholder">Start</label>
      </div>
      <div class="input-container ic2">
        <input [(ngModel)]="endValue" id="end" class="input" type="text" placeholder="" />
        <div class="cut"></div>
        <label for="end" class="placeholder">End</label>
      </div>
      <button (click)="search()" class="submit">Search</button>
    </div>

</div>

<div id="collapse" class="collapse-div" onClick="openCloseNav()">
  <!--  <i id="arrow" class="fa-solid fa-arrow-left"></i>-->
  <fa-icon [icon]="faBars"></fa-icon>
</div>
