.side-panel {
  width: 325px;
  position: absolute;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  /*border-radius: 8px;*/
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-color: var(--darker-background-color);

}

.collapse-div{
  height: 100%;
  line-height: 100%;
  width: 30px;
  cursor: pointer;
  left: 0;
  top: 0;
  transition: margin-left .5s;
  margin-left: 335px;
  position: absolute;
  font-weight:bold;
  font-size:20px;
  color: var(--text-color);
  /*background-color:black;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  z-index: 1;
}
.collapse-div fa-icon{
  color:var(--text-color);
  transition: scale .3s;

}
.collapse-div fa-icon:hover{
  scale:1.25;
}

.addresses-form {
  /*background-color: var(--background-color);*/
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  margin:10px;
}


.submit {
  background-color: var(--button-color);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100%;
  transition: scale .3s;
}
.submit:hover{
  scale: 1.05;
}

.submit:active {
  background-color: var(--hover-button-color);
}
