<div id="side-panel" class="side-panel" >

  <form class="addresses-form" [formGroup]="routeForm">
    <mat-form-field>
      <input formControlName="startValue" type="text" placeholder="Start" aria-label="Number" matInput [matAutocomplete]="start">
      <mat-autocomplete #start="matAutocomplete" >
        <mat-option *ngIf="routeForm.value['startValue']" (click)="searchStartLocation()" [value]="routeForm.value['startValue']">
          {{routeForm.value['startValue']}}
        </mat-option>
        <mat-option (click)="searchCurrentLocation()">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Current Location
        </mat-option>
        <mat-option *ngIf="savedAddresses?.home" (click)="searchStartLocation()" [value]="savedAddresses.home">
          <i class="fa-solid fa-house"></i> &nbsp; Home
        </mat-option>
        <mat-option *ngIf="savedAddresses?.work" (click)="searchStartLocation()" [value]="savedAddresses.work">
          <i class="fa-solid fa-briefcase"></i> &nbsp; Work
        </mat-option>
        <mat-option *ngIf="savedAddresses?.school" (click)="searchStartLocation()" [value]="savedAddresses.school">
          <i class="fa-solid fa-book"></i> &nbsp; School
        </mat-option>
        <mat-option *ngIf="savedAddresses?.other" (click)="searchStartLocation()" [value]="savedAddresses.other">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Other
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="endValue" type="text" placeholder="End" aria-label="Number" matInput [matAutocomplete]="end" >
      <mat-autocomplete #end="matAutocomplete" >
        <mat-option *ngIf="routeForm.value['endValue']" (click)="searchEndLocation()" [value]="routeForm.value['endValue']">
          {{routeForm.value['endValue']}}
        </mat-option>
        <mat-option *ngIf="savedAddresses?.home" (click)="searchEndLocation()" [value]="savedAddresses.home">
          <i class="fa-solid fa-house"></i> &nbsp; Home
        </mat-option>
        <mat-option *ngIf="savedAddresses?.work" (click)="searchEndLocation()" [value]="savedAddresses.work">
          <i class="fa-solid fa-briefcase"></i> &nbsp; Work
        </mat-option>
        <mat-option *ngIf="savedAddresses?.school" (click)="searchEndLocation()" [value]="savedAddresses.school">
          <i class="fa-solid fa-book"></i> &nbsp; School
        </mat-option>
        <mat-option *ngIf="savedAddresses?.other" (click)="searchEndLocation()" [value]="savedAddresses.other">
          <i class="fa-solid fa-location-dot"></i> &nbsp; Other
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-button-toggle-group formControlName="transportType" class="select-transport-container" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="btn toggle-btn" value="0"><i class="fa-solid fa-car"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="1"><i class="fa-solid fa-bus"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="2"><i class="fa-solid fa-bicycle"></i></mat-button-toggle>
      <mat-button-toggle class="btn toggle-btn" value="3"><i class="fa-solid fa-person-walking"></i></mat-button-toggle>
    </mat-button-toggle-group>
    <button [disabled]="!routeForm.valid" (click)="searchRoute()" class="btn submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>


  <mat-accordion *ngIf="calculated_routes != null" class="route-panel">
    <div *ngFor="let route of calculated_routes" style="margin-bottom: 10px">
      <div *ngIf="route['network_type'] == 'drive'" class="route-type">
        <span *ngIf="route['route_type'] == 'distance_efficient'"> Shortest distance</span>
        <span *ngIf="route['route_type'] == 'traffic_efficient'"> Avoid traffic</span>
      </div>
      <mat-expansion-panel (opened)="this.mapService.drawRoute(route['route_nodes'])">
        <button (click)="this.sendRoute(route['route_distance'], route['emissions_saved'], route['cal_burned'], route['total_travel_time'])" class="btn begin">Begin</button>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i *ngIf="route['network_type'] == 'drive'" class="fa-solid fa-car"></i>
            <i *ngIf="route['network_type'] == 'bus'" class="fa-solid fa-bus"></i>
            <i *ngIf="route['network_type'] == 'bike'" class="fa-solid fa-bicycle"></i>
            <i *ngIf="route['network_type'] == 'walk'" class="fa-solid fa-person-walking"></i>
          </mat-panel-title>
          <mat-panel-description>
            <span>{{route['route_distance']}}km &nbsp; {{route['total_travel_time']}}min</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let direction of route['directions']" style="display: flex;">
          <div style="margin-right: 10px">
            <i *ngIf="direction.toString().includes('Start')" class="fa-solid fa-location-dot"></i>
            <i *ngIf="direction.toString().includes('left')" class="fa-solid fa-arrow-left"></i>
            <i *ngIf="direction.toString().includes('right')" class="fa-solid fa-arrow-right"></i>
            <i *ngIf="direction.toString().includes('reached')" class="fa-solid fa-flag-checkered"></i>
          </div>
          <span style="font-size: 13px">{{direction}}<br><br></span>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>

<div id="collapse-bar" class="collapse-div" onClick="openCloseNav()">
  <fa-icon [icon]="faBars"></fa-icon>
</div>
