.alert {
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease 0s;
  z-index: 2000;
  animation-name: alert-animation;
  animation-duration: 5s;
}

@keyframes alert-animation {
  0%  {opacity: 0}
  33%  {opacity: 1}
  50% {opacity: 1}
  66% {opacity: 1}
  100%{opacity: 0}
}

.success {
  color: #0f5132;
  background: #d1e7dd;
}

.info {
  color: #055160;
  background: #cff4fc;
}

.warning {
  color: #664d03;
  background: #fff3cd;
}

.error {
  color: #842029;
  background: #f8d7da;
}
