<div class="feature-box">
  <div *ngIf="feature == 'MAP'">
    <div class="header-div"><i class="fa-solid fa-map-location-dot"></i></div>
    <img *ngIf="feature == 'MAP' && currentTheme == 'dark'" src="assets/Photos/map-dark.png" alt="favicon.ico">
    <img *ngIf="feature == 'MAP' && currentTheme != 'dark'" src="assets/Photos/map-light.png" alt="favicon.ico">
  </div>

  <div *ngIf="feature == 'STATS'">
    <div class="header-div"><i class="fa-solid fa-chart-column"></i></div>

  </div>

  <div *ngIf="feature == 'RANKING'">
    <div class="header-div"><i class="fa-solid fa-ranking-star"></i></div>

  </div>

  <div *ngIf="feature == 'NOTIFICATIONS'">
    <div class="header-div"><i class="fa-regular fa-bell"></i></div>

  </div>

</div>
