.features-container{
  width: 95%;
  min-height: 300px;
  margin: 0 auto 25px auto;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

app-feature-box{
  width: 300px;
  height: 350px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--darker-background-color);
  border-top: 2px solid var(--blue-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
