
<div class="modal-header">
  <h5 class="modal-title" id="changePassModal">Change Password</h5>
  <button
    type="button"
    class="btn"
    aria-label="Close"
    (click)="modalRef.close()"
  ><i class="fa-solid fa-xmark"></i></button>
</div>

<div class="modal-body">
  <div class="edit-pass-form-container">
    <form [formGroup]="changePassForm" novalidate>
      <input type="password" id="old-password" class="form-control validate" formControlName="old_password" placeholder="Old Password" required>
      <br>
      <input type="password" id="new-password" class="form-control validate" formControlName="new_password" placeholder="New Password" required>
      <br>
      <input type="password" id="new-password-confirm" class="form-control validate" formControlName="c_new_password" placeholder="Confirm New Password" required>
      <br>
    </form>
    <button [disabled]="!changePassForm.valid" type="button" class="btn login" (click)="changePassword();modalRef.close()">Confirm</button>
  </div>
</div>
