.navbar{
  background-color: var(--darker-background-color);
  color: var(--text-color);
  height: 7.5vh;
  min-height: 55px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
}

.navbar-collapse{
  background-color: var(--darker-background-color);

}


.container-fluid{
  --bs-gutter-x: 0;

}

.navbar-brand{
  margin-left: 1vh;
}

.nav-item{
  margin:0 auto;
}

.nav-link{
  color: var(--text-color);
  margin: 0 10px;
}
.nav-link:hover{
  color: var(--hover-button-color)
}
.nav-link.active{
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.navbar-toggler{
  color: var(--text-color);
  position: absolute;
  right: 1rem;
  top: 25%;
  border: none;
}

.button-container{
  text-align: center;
}

.btn{
  display: inline-block;
  margin: 5px 10px;
  color: var(--text-color);
  border: 1px solid var(--button-color);
}
.btn:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}

/* THEME SWITCHER */
.label-mode{
  width: 75px;
  height: 30px;
  position: absolute;
  top: 27.5%;
  right: 110px;
  margin: 0;
  display: block;
  background-color: var(--background-color);
  border-radius: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px var(--darker-background-color) solid;
  cursor: pointer;
  transition: 0.3s;
}
.label-mode:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 5px;
  border-radius: 60px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  transition: 0.3s;
  background:linear-gradient(180deg, #2f3136, #24252AFF);
}

.dark-mode{
  width:0;
  height: 0;
  visibility: hidden;

}
input:checked + .label-mode{
  background-color: var(--background-color);
}
input:checked + .label-mode:after{
  left: 70px;
  transform: translateX(-100%);
  background: var(--background-color);

}


@media(max-width: 991px){
  .navbar-brand{
    margin: 0 auto;
  }
}


