<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"> <img src="favicon.ico" alt="favicon.ico"></a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"  (click)="basicNavbar.hide()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/map']" routerLinkActive="active" (click)="basicNavbar.hide()">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/leaderboard']" routerLinkActive="active" (click)="basicNavbar.hide()">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/statistics']" routerLinkActive="active" (click)="basicNavbar.hide()">Statistics</a>
        </li>

      </ul>
      <!-- Left links -->
      <div class="button-container">
        <button class="btn btn-outline-primary" type="button">
          Login
        </button>
        <button class="btn btn-outline-primary" type="button">
          Signup
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
