<div class="add-friend-container">
  <div class="header-form">
    <form [formGroup]="searchForm" class="search-form">
      <div class="input-container ic1">
        <input
          matInput
          (keyup)="searchUsers()"
          type="text"
          id="start"
          class="input"
          placeholder=""
          formControlName="searchField"
        />
        <div class="cut"></div>
        <label for="start" class="placeholder">Search People</label>
      </div>
    </form>
    <button [routerLink]="['/social/friends']" class="btn back"><i class="fa-solid fa-arrow-left"></i> Back</button>
  </div>

  <hr class="my-10" />

  <div *ngIf="usersList$ | async as usersList">
    <app-user-card *ngFor="let user of usersList"
                   username="{{user.username}}"
                   full_name="{{user.full_name}}"
                   email="{{user.email}}"
                   picture_url="{{user.picture_url}}"
                   points="{{user.points}}"
                   type="ADD"
    ></app-user-card>
  </div>
</div>
