.login-form-container input{
  background-color: var(--background-color);
  border-color: var(--darker-background-color);
  color:var(--text-color);
}
.login-form-container input::placeholder{
  color:var(--text-color);
}

.btn{
  display: flex;
  margin: 0 auto;
  color: var(--text-color);
  border: 1px solid var(--button-color);
}
.btn:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.btn:focus{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.forgot-password{
  margin-left: 10px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  text-decoration: none;
}
.forgot-password:hover{
  border-bottom: 1px solid var(--hover-button-color);
  cursor:pointer;
}
