
<div class="info-container">
  <div class="description">
    <div class="title-container">

      <ngx-typed-js
        [strings]="[title]"
        [loop]="true"
        [typeSpeed]="30"
        [backSpeed]="15"
        [backDelay]="500"
        [showCursor]="false"
      >
        <p class="typing title"></p>
      </ngx-typed-js>
    </div>
    <div class="description-container">
      <p>{{description}}</p>
    </div>
  </div>

  <div class="photo">
    <img src="assets/Photos/ssutainable_transport.webp" alt="favicon.ico">
  </div>
</div>
