.card{
  float: left;
  width: 49%;
  padding: 10px;
  margin: .5%;
  background-color: var(--darker-background-color);

}
.card .full_name{
  font-weight: 700;
}
.card .email{
  font-size: 16px;
}

.card span{
  color: var(--text-color);
}

.avatar{
  background-color: var(--blue-color);
}

.add{
  border: 1px solid var(--button-color);
  float: right;
  color:var(--text-color);
}
.add:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.add:focus{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}

.remove{
  border: 1px solid crimson;
  float: right;
  color:var(--text-color);
}
.remove:hover{
  background-color: crimson;
  border: 1px solid crimson;
}
.remove:focus{
  background-color: crimson;
  border: 1px solid crimson;
}

@media(max-width: 1080px){
  .card{
      width: 100%;
  }
  .card .email{
    font-size: 14px;
  }
}
@media(max-width: 600px){
  .card .email{
    font-size: 11px;
  }
}

