.card{
  float: left;
  width: 49%;
  padding: 10px;
  margin: .5%;
  background-color: var(--darker-background-color);

}

/* USER */

/* USER PICTURE */
.avatar{
  background-color: var(--blue-color);
}
.avatar img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/* USER INFO */
.card .full_name{
  font-weight: 700;
}
.points{
  font-weight: 700;
}
.points i{
  color: mediumseagreen;
}
.card .user{
  font-size: 16px;
}
.card span{
  color: var(--text-color);
}


.add{
  border: 1px solid var(--button-color);
  float: right;
  color:var(--text-color);
}
.add:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.add:focus{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}

.remove{
  border: 1px solid crimson;
  float: right;
  color:var(--text-color);
}
.remove:hover{
  background-color: crimson;
  border: 1px solid crimson;
}
.remove:focus{
  background-color: crimson;
  border: 1px solid crimson;
}

@media(max-width: 1250px){
  .card{
      width: 100%;
  }
  .card .user{
    font-size: 14px;
  }
}

@media(max-width: 600px){
  .card .user{
    font-size: 11px;
  }
  .card .full_name{
    font-size: 16px;
  }
  .points-container .points{
    font-size: 12px;
  }
  .avatar img{
    height: 50px;
    width: 50px;
  }
}

