.card{
  width: 39vw;
  margin: 0 auto;
  background-color: var(--darker-background-color);

}
.card .full_name{
  font-weight: 700;
}
.card .email{
  font-size: 11px;
}

.card span{
  color: var(--text-color);
}

.logout{
  border: 1px solid crimson;
  float: right;
  color:var(--text-color);
}
.logout:hover{
  background-color: crimson;
  border: 1px solid crimson;
}

@media(max-width: 881px){
  .card{
      min-width: 300px;
  }
}

