<div class="card shadow border-0 mt-4 mb-10">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div>
        <div class="d-flex align-items-center">
          <a class="avatar rounded-circle text-white">
            <img src="{{picture_url}}" alt="https://robohash.org/hehehe?bgset=bg1">
          </a>
          <div class="ms-4">
            <span class="full_name h5 d-block mb-0">{{full_name}}</span>
            <span class="user">ID: {{username}}</span>
            <span class="d-block mb-0 points"  >{{points}} <i class="fa-solid fa-seedling" (click)="tooltip.toggle()" matTooltip="CO2 Emissions Saved" matTooltipPosition="below"  #tooltip="matTooltip" style="cursor: pointer"></i></span>

          </div>
        </div>
      </div>
      <div class="ms-auto">
        <button *ngIf="type == 'FRIENDS'" type="button" class="btn remove" [disabled]="clicked" (click)="open_remove_confirmation()"><i class="fa-solid fa-xmark"></i></button>
        <button *ngIf="type != 'FRIENDS'" type="button" class="btn add" [disabled]="clicked" (click)="sendFriendRequest()"><i class="fa-solid fa-user-plus"></i></button>

      </div>
    </div>
  </div>
</div>
