.card{
  margin: 0 auto;
  background-color: var(--darker-background-color);

}

/* USER */

/* AVATAR */
.avatar{
  background-color: var(--blue-color);
}
.avatar img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/* USER INFO */
.card .full_name{
  font-weight: 700;
}
.card .user{
  font-size: 16px;
}
.card span{
  color: var(--text-color);
}

/* POINTS */
.points{
  color:var(--button-color);
  font-weight: 700;
}
.points i{
  color: mediumseagreen;
}


.container-fluid hr{
  color:var(--button-color);
}

.container-fluid h5{
  color:var(--text-color);
  font-weight: 700;
}
.container-fluid label, input::placeholder{
  color:var(--text-color);
}
.container-fluid input{
  background-color: var(--background-color);
  border: 1px solid var(--button-color);
  color:var(--text-color);
}

.user{
  display: flex;
  margin: 10px auto;
  padding: 5px;
  border-radius: 6px;
  color: var(--text-color);
  border: 1px solid var(--button-color);
}


.btn{
  display: flex;
  margin: 10px auto;
  color: var(--text-color);
  /*background-color:var(--button-color);*/
  border: 1px solid var(--button-color);
}
.btn:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.btn:focus{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}

.edit-pass, .change-addresses{
  border: 1px solid var(--button-color);
  color:var(--text-color);
  margin:0 10px 25px 10px;
}
.edit-pass:hover, .change-addresses:hover{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}
.edit-pass:focus, .change-addresses:focus{
  background-color: var(--hover-button-color);
  border: 1px solid var(--hover-button-color);
}


.logout{
  border: 1px solid crimson;
  color:var(--text-color);
  float:right;
  margin:0 10px 25px 10px;
}
.logout:hover{
  background-color: crimson;
  border: 1px solid crimson;
}
.logout:focus{
  background-color: crimson;
  border: 1px solid crimson;
}

.delete{
  border: 1px solid crimson;
  color:var(--text-color);
  float:left;
  margin:0 10px 25px 10px;
}
.delete:hover{
  background-color: crimson;
  border: 1px solid crimson;
}
.delete:focus{
  background-color: crimson;
  border: 1px solid crimson;
}

@media(min-width: 1200px){
  .card{
    width: 60%;
  }
}

@media(max-width: 675px){
  .edit-pass{
    float: left;
  }
}
@media(max-width: 600px){
  .card .user{
    font-size: 11px;
  }
  .card .full_name{
    font-size: 16px;
  }
  .points-container .points{
    font-size: 12px;
  }
  .avatar img{
    height: 50px;
    width: 50px;
  }
  .update-photo{
    font-size: 12px;
  }
}

/* REWARD CARD */
.card{
  width: 100%;
  margin: 0 auto;
  background-color: var(--darker-background-color);
  border: 1px solid var(--blue-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* PLACEMENT */
.placement{
  background-color: 1px solid var(--text-color);
}
.placement span{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.placement .first{
  color:gold;
}
.placement .second{
  color:silver;
}
.placement .third{
  color:saddlebrown;
}

/* REWARD INFO */
.card .reward{
  font-weight: 700;
}
.date i{
  color: mediumseagreen;
}
.card span{
  color: var(--text-color);
}


/* CLAIM BUTTON */

.confirm{
  border: 1px solid mediumseagreen;
  float: right;
  color:var(--text-color);
  margin: 0 5px;
}

.confirm:hover{
  background-color: mediumseagreen;
  border: 1px solid mediumseagreen;
}
/* RESPONSIVE */
@media(max-width: 600px){
  .card .reward{
    font-size: 16px;
  }
  .date{
    font-size: 12px;
  }
}

