<div [@slideInUpOnEnter]="1" class="notifications-container">

  <div class="friend-requests-container">

    <div class="container-header">
      <h5>Friend Requests</h5>
    </div>
    <div *ngIf="notificationsList$ | async as notificationsList">
      <app-notification-card *ngFor="let notification of notificationsList"
        id="{{notification.id}}"
        username="{{notification.username}}"
        full_name="{{notification.full_name}}"
        email="{{notification.email}}"
        picture_url="{{notification.picture_url}}"
      ></app-notification-card>
    </div>
  </div>

<!--  <div class="separator"></div>-->

  <div class="routes-pending-container">

    <div class="container-header">
      <h5>Routes In Progress</h5>
    </div>
    <app-r-pending-card
      city="Timisoara"
      start="Complex Studentesc, Timisoara"
      end="Universitatea de Vest, Timisoara"
    ></app-r-pending-card>
    <app-r-pending-card
      city="Timisoara"
      start="Complex Studentesc, Timisoara"
      end="Universitatea de Vest, Timisoara"
    ></app-r-pending-card>
  </div>


</div>
